* {
	position: relative;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    text-align: center;
    background: #fdfdfd;
}

header,
section,
footer {
    margin: 0;
    padding: 1px;
    float: left;
    width: 100%;
    min-height: 1px;
}

p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) 
}

/* INICIO - HEADER */
header {
	background: #4893c7;
    color: white;
	height: 90px;
}

.logo {
	width: 25%;
	float: left;
	margin: 1% 2% 1% 2%;
	border: 1px solid white;
}

.search-bar {
	width: 50%;
	float: left;
	padding:1% 0% 1% 0%;
}

.search-bar input{
	width: 50%;
	background: #ff000000;
	border: 0px;
	border-bottom: 2px solid white; 
	left: 10%;
	float: left;
	color: white;
	font-size: 16px;
}

.search-bar input::placeholder{
	color: white;
	left: 10px;
}

.search-bar input:placeholder-shown{
	color: white;
}

.search-bar img{
	width: 4%;
	/*height: 10%;*/
	/*float: left;*/
}

.carrito {
	width: 25%;
	background: silver;
	float: left;
}

/* FIN - HEADER */

#slider{
	background: purple;
	height: 20em;
}

#pasos {
	height: 10em;
}

.paso {
	width: 31%;
	margin: 1%;
	background: #bbbbbb;
	height: 70%;
	float: left;
	border: 1px solid black;
}

.producto {
	width: 27%;
	margin: 1% 3% 1% 3%;
	height: 30%;
	float: left;
	border: 1px solid black;
	box-shadow: 5px 5px 6px -3px #8e8e8e;
}

.producto-foto{
	margin: 3%;
}

.producto-foto img{
	width: 100%;
}

.producto-info {
	height: 10px;
}

.producto-info .nombre{
	font-size: 18px; 
	left: 25%;
	margin-left: 2%;
}

.producto-info .price{
	left: 80%;
}

.add-carrito{
	margin: 5% 0% 3% 0%;
}

.add-carrito button{
	color: white;
	background: #4893c7;
	border: 1px solid #3d719e;
	padding: 1%;
}
.add-carrito img{
	width: 20%;
}

.add-carrito button:hover{
	cursor: pointer;
	background: #3d719e;
}
.add-carrito button a{
	font-weight: bold;
}

#medios-de-pago{
	background: cyan;
}

.medio {
	width: 22%;
	margin: 1%;
	background: brown;
	height: 30px;
	float: left;
}

footer{
	background: grey;
}

footer .footer-col {
	width: 30%;
	margin: 1%;
	background: brown;
	height: 30px;
	float: left;
}